.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0;
}

.inputContainer {
  padding-left: 1.5rem;
  display: flex;
  width: 100%;
  border-left: thin dashed white;
}

.input {
  position: relative;
  height: 2.75rem;
}

.ingredientInput {
  width: 40%;
}

.quantityInput {
  left: 1.5rem;
  width: 15%;
}

.metricInput {
  left: 3rem;
  width: 15%;
}

.addIngredientButton {
  color: white;
  margin-left: 1.5rem;
}